html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.title {
  color: #fff;
  display: inline-block;
}

.img-back {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}
/* Tarjetas del clima */

#cards {
  position: relative;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 90%;
}

.card {
  padding: 5px 30px;
  width: 300px;
  height: auto;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  animation: open 1s cubic-bezier(0.39, 0, 0.38, 1);
  -webkit-animation: open 1s cubic-bezier(0.39, 0, 0.38, 1);
  translate: all 200ms ease-in;
  border: solid 1px transparent;
}

.card:hover {
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: solid 1px orangered;
}

.card-header {
  box-sizing: border-box;
}

@-webkit-keyframes open {
  from {
    padding: 0 30px;
    height: 0;
  }
  to {
    height: auto;
  }
}

h1 {
  float: left;
  color: #666;
  font-weight: 300;
  font-size: 4.59375em;
  line-height: 0.2em;
  animation: up 1s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
  -webkit-animation: up 1s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

h2 {
  font-weight: 300;
  font-size: 2.55em;
  animation: up 1s cubic-bezier(0.39, 0, 0.38, 1);
  -webkit-animation: up 1s cubic-bezier(0.39, 0, 0.38, 1);
}

h3 {
  float: left;
  margin-right: 33px;
  color: #333;
  font-weight: 400;
  font-size: 1em;
  animation: up 1s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
  -webkit-animation: up 1s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  99% {
    -webkit-animation-play-state: paused;
  }
  100% {
    opacity: 1;
  }
}

/* SearchBar*/

#Buscador {
  display: inline;
  margin-bottom: 25px;
  width: 50%;
  border-radius: 5px;
  border: solid 1px orangered;
  padding: 10px 10px 10px 30px;
  outline: none;
  animation: open 1s cubic-bezier(0.39, 0, 0.38, 1);
  -webkit-animation: open 1s cubic-bezier(0.39, 0, 0.38, 1);
}

.resultados {
  background-color: #7f0130;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  max-height: 50vh;
  z-index: 9;
  position: absolute;
  left: 25%;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

.ciudad {
  width: 100%;
  padding: 15px;
  list-style: none;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 300;
  transition: all 200ms ease-in;
  color: white;
}

.ciudad:hover {
  cursor: pointer;
  background-color: #f56217;
}
